html {
    scroll-behavior: smooth;
}
body {
    background-color: #f0f8ff;
    overflow-x: hidden;
    scrollbar-width: thin;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #bbbbbb;
    border-radius: 10px;
}
canvas {
    z-index: 5;
    display: block;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.no-js-warning {
    z-index: 20;
    display: block;
    position: fixed;
    left: 2vh;
    top: 2vh;
    background-color: hsla(360, 100%, 70%, 1);
    color: #f0f8ff;
    padding: 10px;
    border-radius: 100vh;
}
.container {
    z-index: 10;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
}
.slide {
    z-index: inherit;
    display: block;
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;

    transition: transform 0.6s;
    transition-timing-function: ease-in-out;
}
.left {
    left: -100vw;
}
.right {
    left: 100vw;
}
.block {
    z-index: inherit;
    display: block;
    margin: 0;
    position: absolute;
}
.small {
    width: 20vw;
    height: 60vh;
    left: 50vw;
    top: 20vh;
    background-color: hsla(300, 70%, 75%, 0.8);
}
.medium {
    width: 50vw;
    height: 60vh;
    left: 25vw;
    top: 20vh;
    background-color: hsla(300, 70%, 75%, 0.8);
}
.large {
    width: 80vw;
    height: 60vh;
    left: 10vw;
    top: 20vh;
    background-color: hsla(300, 70%, 75%, 0.8);
}
.footer {
    z-index: 50; /*sec*/
    display: block;
    margin: 0;
    padding: 1vh;
    position: absolute;
    bottom: -40vh;
    width: 100vw;
    height: 18vh;
    background-color: #1f1f1f;
}

.scroll-map {
    z-index: 40;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
}
.scroll-map div {
    position: absolute;
    right: 0;
    width: 64px;
    margin: 0;
    color: #7c7c7c;
}
.scroll-map hr {
    position: absolute;
    right: 0;
    width: 100%;
    margin: 0;
}

p {
    color: #f0f8ff;
    font-size: 1vw;
}
h1 {
    color: #f0f8ff;
    margin: 0;
    font-size: 6vw;
}
.center-y {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.logo {
    position: absolute;
    height: 20vh;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    filter: invert(100);
}